#WelcomeHud {
    color: red;
}

.Hudlist {
    font-size: large;
}

body {
    background-color: #24252a;
    color: white;
}

.HudName {
    font-size: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;
}

nav {
    display: flex;
}

.Hudlist {
    display: flex;
    list-style: none;
}

.Hudlist li a {
    text-decoration: none;
    color: lightgray;
}

.linka {
    margin-left: 40px;
    font-size: 20px;
}

div {
    /* Si deseas agregar reglas específicas para los divs, puedes hacerlo aquí */
}
