body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff0000; /* Cambia el color al pasar el cursor sobre los enlaces */
}


header h1 {
  margin: 0;
  font-size: 28px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

section {
  padding: 20px;
  background-color: #fff;
}

h2 {
  margin-top: 0;
}

.portfolio-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.portfolio-item h3 {
  margin-top: 0;
  font-size: 22px;
}

.portfolio-item p {
  margin-bottom: 10px;
}

.hidden-comment {
  display: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffc107;
  color: #333;
  font-style: italic;
}

/* Estilos específicos del Easter egg */
img.luma {
  cursor: pointer;
}
